<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Node</title>
    <!-- Cargamos el archivo css -->
    <link rel="stylesheet" href="/resources/css/style.css">

<!-- cerramos el head en header por si queremos añadir algún archivo adicional como por ejemplo el archivo js 
del lado del cliente a la vista de administración. Si quisiéramos cambiar el título de cada sección también lo deberíamos 
quedar fuera de esta sección y ponerlo en cada uno de estas páginas -->